# Python
.venv/
__pycache__/
*.pyc

# OS/IDE
.DS_Store
Thumbs.db
.vscode/

# Flutter/Dart
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/ios/Pods/
**/android/.gradle/

# Logs
*.log

# Android signing secrets
**/android/key.properties
**/android/app/upload-keystore.jks
